
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Organic Information</p>
                    <h1>News Article</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- latest news -->
<div class="latest-news mt-150 mb-150">
    <div class="container">
        <div class="row">
			<ng-container *ngFor="let data of news | slice: (page-1) * pageSize : page * pageSize">
				<div class="col-lg-4 col-md-6">

					<div class="single-latest-news">
						<div class={{data.image}}></div>
						<div class="news-text-box">
							<h3>{{data.name}}</h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> {{data.date}}</span>
							</p>
							<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi.
								Praesent vitae mattis nunc, egestas viverra eros.</p>
							<a class="read-more-btn"  (click)="openScrollableContent(longContent,data.id)">read more <i
									class="fas fa-angle-right"></i></a>
						</div>
					</div>

				</div>
			</ng-container>
		</div>

         <ng-template #longContent let-modal> 
			<div class="modal-header">
				<h4 class="modal-title">{{singlenews.title}}</h4>
				<button type="button" class="btn-close" aria-label="Close"
					(click)="modal.dismiss('Cross click')"></button>
			</div>
			<div class={{singlenews.image}}></div>
			<div class="modal-body">
				<h3>{{singlenews.name}}</h3>
				<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
					eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
					laoreet rutrum faucibus dolor auctor.</p>
				<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
					consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
				<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
					eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
					laoreet rutrum faucibus dolor auctor.</p>
				<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
					consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
				<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
					eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
					laoreet rutrum faucibus dolor auctor.</p>
				<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
					consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
				<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
					eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
					laoreet rutrum faucibus dolor auctor.</p>
				<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
					consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
				<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
					eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
					laoreet rutrum faucibus dolor auctor.</p>
				<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
					consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
				<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
					eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
					laoreet rutrum faucibus dolor auctor.</p>
				<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
					consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>

			<h3>{{singlenews.date}}</h3>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-light" (click)="modal.close('Close click')"> Close</button>
			</div>
		</ng-template> 
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="pagination-wrap">
                            <ngb-pagination [(page)]="page" [pageSize]="pageSize"
                        [collectionSize]="news ? news.length : 10">

                    </ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end latest news -->


	<!-- logo carousel -->
	<app-logo-slider></app-logo-slider>
	<!-- end logo carousel -->


