<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                
                <div class="logo-carousel-inner">
                    <swiper class="swiper-container"  [autoplay]="true" [slidesPerView]="1">

                        <ng-template swiperSlide>
                            <div class="single-logo-item">
                                <img src="assets/img/company-logos/1.png" style="width: 400px; margin-right: 95px;" alt="" >
                                <img src="assets/img/company-logos/2.png" style="width: 400px; margin-right: 95px;" alt="">
                                <img src="assets/img/company-logos/3.png" style="width: 400px; margin-right: 95px;" alt="">
                                <img src="assets/img/company-logos/4.png" style="width: 400px; margin-right: 95px;" alt="">
                                </div>
                        </ng-template>

                        <ng-template swiperSlide>
                            <div class="single-logo-item">
                            <img src="assets/img/company-logos/2.png" style="width: 400px; margin-right: 95px;" alt="">
                            <img src="assets/img/company-logos/3.png" style="width: 400px; margin-right: 95px;" alt="">
                            <img src="assets/img/company-logos/4.png" style="width: 400px; margin-right: 95px;" alt="">
                            <img src="assets/img/company-logos/5.png" style="width: 400px; margin-right: 95px;" alt="">
                                </div>
                        </ng-template>

                        <ng-template swiperSlide>
                            <div class="single-logo-item">
                        
                            <img src="assets/img/company-logos/3.png" style="width: 400px; margin-right: 95px;" alt="">
                            <img src="assets/img/company-logos/4.png" style="width: 400px; margin-right: 95px;" alt="">
                            <img src="assets/img/company-logos/5.png" style="width: 400px; margin-right: 95px;" alt="">
                            <img src="assets/img/company-logos/1.png" style="width: 400px; margin-right: 95px;" alt="" >
                                </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="single-logo-item">
                        
                            <img src="assets/img/company-logos/4.png" style="width: 400px; margin-right: 95px;" alt="">
                            <img src="assets/img/company-logos/5.png" style="width: 400px; margin-right: 95px;" alt="">
                            <img src="assets/img/company-logos/1.png" style="width: 400px; margin-right: 95px;" alt="" >
                            <img src="assets/img/company-logos/2.png" style="width: 400px; margin-right: 95px;" alt="">
                                </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="single-logo-item">
                            <img src="assets/img/company-logos/5.png" style="width: 400px; margin-right: 95px;" alt="">
                            <img src="assets/img/company-logos/1.png" style="width: 400px; margin-right: 95px;" alt="" >
                            <img src="assets/img/company-logos/2.png" style="width: 400px; margin-right: 95px;" alt="">
                            <img src="assets/img/company-logos/3.png" style="width: 400px; margin-right: 95px;" alt="">
                                </div>
                        </ng-template>

                        
                    </swiper>
                </div>
            </div>
        </div>
    </div>
</div>



   
 
